@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    FDM Group<br />
    Cottons Centre, Cottons Lane<br />
    London, SE1 2QG<br />
    <abbr title="Phone">P:</abbr>
    020 3056 8240
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jon.snow@fdmgroup.com">jon.snow@fdmgroup.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">arya.stark@fdmgroup.com</a>
</address>