<div class="jumbotron">
    <h1>About</h1>
    <p class="lead">FDMGift is a way for you to provide assistance to those who are most vulnerable</p>
    <p><a href="http://localhost:57762/Charities/Index" class="btn btn-primary btn-lg">Donate here</a></p>
</div>
