<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IFilmService" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:65286/FilmService.svc" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IFilmService" contract="IFilmService"
            name="BasicHttpBinding_IFilmService" />
      </client>
    </system.serviceModel>
</configuration>