@model FDMGift.EntityFramework.Users

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Ajax.BeginForm("Login", "Account", new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "createForm",
    InsertionMode = InsertionMode.ReplaceWith
}, new { @id = "createForm" }))
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
