@{
    ViewBag.Title = "User Home";
}

<h2>User Dashboard</h2>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#changepassword">Change Password</a></li>
    <li><a data-toggle="tab" href="#userbasket">View Donations</a></li>
</ul>

