@model IEnumerable<FDMGift.EntityFramework.Charities>

@{
    ViewBag.Title = "Charities";
}

<h2>Charities</h2>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#charities">Charities</a></li>
    <li><a data-toggle="tab" href="#cancerresearchuk">Cancer Research UK</a></li>
    <li><a data-toggle="tab" href="#nspcc">NSPCC</a></li>
    <li><a data-toggle="tab" href="#ageuk">Age UK</a></li>
</ul>

<div class="tab-content">
    <div id="charities" class="tab-pane fade in active">
        <h3>Charities</h3>
        <table class="table table-hover">

            <tr>
                <th>@Html.DisplayNameFor(charity => charity.charityName)</th>
                <th>@Html.DisplayNameFor(charity => charity.targetAmount)</th>
            </tr>

            @foreach (var charity in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => charity.charityName)</td>
                    <td>@Html.DisplayFor(modelItem => charity.targetAmount)</td>
                </tr>
            }

        </table>
    </div>
    <div id="cancerresearchuk" class="tab-pane fade">
        <h3>Cancer Research UK</h3>

        <div id="crucarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#crucarousel" data-slide-to="0" class="active"></li>
                <li data-target="#crucarousel" data-slide-to="1"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Images/Charities/research.jpg" alt="Research" width="100%">
                    <div class="carousel-caption">
                        <h3>Research</h3>
                        <p>Most vital component of the charity is the groundbreaking work going into the research</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/Charities/fundraising.jpg" alt="Fundraising" width="100%">
                    <div class=" carousel-caption">
                        <h3>Fundraising</h3>
                        <p>Donations also assist in the phenomenal events organised for fundraising</p>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#crucarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                </span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#crucarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                </span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div id="nspcc" class="tab-pane fade">
        <h3>NSPCC</h3>
        
        <div id="nspcccarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#nspcccarousel" data-slide-to="0" class="active"></li>
                <li data-target="#nspcccarousel" data-slide-to="1"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Images/Charities/nspccprotection.jpg" alt="protection" width="100%">
                    <div class="carousel-caption">
                        <h3>Protection</h3>
                        <p>Donations are fundamentally used to offer protection to young children and keep them safe</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/Charities/nspccresearch.jpg" alt="research" width="100%">
                    <div class=" carousel-caption">
                        <h3>Research</h3>
                        <p>Used for continuous research and efforts made to protect young people using the law</p>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#nspcccarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                </span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#nspcccarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                </span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div id="ageuk" class="tab-pane fade">
        <h3>Age UK</h3>

        <div id="ageukcarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#ageukcarousel" data-slide-to="0" class="active"></li>
                <li data-target="#ageukcarousel" data-slide-to="1"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Images/Charities/ageukhouse.jpg" alt="home" width="100%">
                    <div class="carousel-caption">
                        <h3>A secure home</h3>
                        <p>Ensuing that the elderly have a comfortable and secure home</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/Charities/ageukhealth.jpg" alt="health" width="100%">
                    <div class=" carousel-caption">
                        <h3>Health</h3>
                        <p>Frequently checking up on the elderly as they are prone to health complications</p>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#ageukcarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                </span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#ageukcarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                </span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
